<footer class="footer">
    <div class="container">
        <div class="widget">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore quos est nobis, omnis tempore odio recusandae veniam laborum accusantium sed aspernatur minus ducimus distinctio, rem dolor ea facilis. Sequi, ab?</p>
        </div>
        <div class="widget">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis quibusdam delectus distinctio exercitationem possimus tempore. Quod mollitia voluptatum, vel ullam voluptates nihil aperiam cumque dignissimos magnam maiores dolore nesciunt perspiciatis.</p>
        </div>
        <div class="widget">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt veniam soluta amet, animi rerum id! Numquam, perspiciatis inventore quibusdam ad ex, est dignissimos, id nemo consequatur rerum non. Ducimus, amet.</p>
        </div>
    </div>
    <div class="copyright clear">
        <p>Todos los derechos reservados &copy; - 2019</p>
    </div>
</footer>