<footer class="footer">
    <div class="container">
        <h2>Principal Facts</h2>
        <div class="facts">
            <div class="fact">
                <h3>Successul projects</h3>
                <span class="number">31</span>
                <p>Labore quos est nobis, omnis tempore odio recusandae veniam.</p>
            </div>
            <div class="fact">
                <h3>Happy clients</h3>
                <span class="number">29</span>
                <p>Corporis quibusdam delectus distinctio exercitationem .</p>
            </div>
            <div class="fact">
                <h3>Collaborative works</h3>
                <span class="number">9</span>
                <p>Nesciunt veniam soluta amet, animi rerum id!</p>
            </div>
        </div>
        <div class="copyright clear">
            <p>Todos los derechos reservados &copy; - 2019</p>
        </div>
    </div>    
</footer>