<nav>
    <ul class="menu">
        <li class="logo"><a href="#">Developer</a></li>
        <li class="item"><a href="#">About Me</a></li>
        <li class="item"><a href="#">Services</a></li>
        <li class="item"><a href="#">Portfolio</a></li>
        <li class="item"><a href="#">Blog</a></li>
        <li class="item"><a href="#">Contact</a></li>
        <li class="item button"><a href="#">Log In</a></li>
        <li class="item button secondary"><a href="#">Sign Up</a></li>
        <li class="item button secondary">
            <input type="text" [value]="name.value" (keyup.enter)="dataUser(name.value)" #name />
            <p>{{ submitMessage }}</p>
            <input type="text" (change)="true" #groupRef>
            <p>{{groupRef.value}}</p>
        </li>
        <li class="toggle"><a href="#">M</a></li>
        
    </ul>
  </nav>