nav ul li {
    background: #DE6262;  /* fallback for old browsers */
    /** background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
    /** background: linear-gradient(to right, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    float: left;
    list-style: none;
    margin: 8px;
    padding: 12px;
    position: relative;
}

nav ul li:hover ul > li {
    display: block;
    line-height: 100%;
    margin: 0;
    right: 50%;
}

nav ul li ul li {
    clear: both;
    display: none;
}

a:link {
    color: white;
    font-weight: bold;
    text-decoration: none; 
}