<h1>About Me</h1>
<div class="about-list">
    <span>41 years</span> / 
    <span>Bogota D.C.</span> / 
    <span>Freelance</span> 
</div>
<div class="about-me">
    <div class="about-me-profile">
        <img src="https://avatars3.githubusercontent.com/u/12736518" alt="Juan Carlos Jiménez Gutiérrez">
        <h2>Juan Carlos Jiménez Gutiérrez</h2>
        <p>Analista y Desarrollador de Sistemas de Información FrontEnd/BackEnd Developer</p>
    </div>
    <div class="about-me-description">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, modi? Quasi nostrum ratione dicta odio beatae ipsa. In, ea non architecto aperiam tempore praesentium dolores ipsam! Harum quam quia aliquid!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A autem recusandae tenetur blanditiis nobis eius asperiores deleniti quidem nulla. Minus asperiores est, in voluptate vero sunt dignissimos laudantium? Aut, natus!</p>
    </div>
</div>