<div class="about-me">
    <div class="about-me-profile">
        <img class="about-me-image" [src]="data.images[0]" [alt]="data.name">
        <h2>{{ data .name }}</h2>
        <p>{{ data .profession }}</p>
    </div>
    <div class="about-me-description">
        <h1 class="title">About Me</h1>

        <p class="about-list">
            <span>41 years</span> / 
            <span>Bogota D.C.</span> / 
            <span>Freelance</span> 
        </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, modi? Quasi nostrum ratione dicta odio beatae ipsa. In, ea non architecto aperiam tempore praesentium dolores ipsam! Harum quam quia aliquid!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A autem recusandae tenetur blanditiis nobis eius asperiores deleniti quidem nulla. Minus asperiores est, in voluptate vero sunt dignissimos laudantium? Aut, natus!</p>
    </div>
    <div id="chat">
        <div id="box">
            <span>{{ chat .data }}</span>
        </div>
        <div id="send">
            <textarea [(ngModel)]="chat.data"></textarea>
        </div>
    </div>
</div>