<router-outlet></router-outlet>
<!-- <div class="about-me">
    <div class="about-me-profile">
        <img class="about-me-image" [src]="data.images[0]" [alt]="data.name">
        <h2>{{ data .name }}</h2>
        <p>{{ data .profession }}</p>
    </div>
    <div class="about-me-description">
        <h1 class="title">About Me</h1>

        <p class="about-list">
            <span>41 years</span> / 
            <span>Bogota D.C.</span> / 
            <span>Freelance</span> 
        </p>
        <app-directiva-ngfor></app-directiva-ngfor>
        <app-directiva-ngswitch></app-directiva-ngswitch>
    </div>
    <div id="chat">
        <div id="box">
            <span>{{ chat .data }}</span>
        </div>
        <div id="send">
            <textarea [(ngModel)]="chat.data"></textarea>
        </div>
    </div>
</div> -->