/* You can add global styles to this file, and also import other style files */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Reset margins and paddings on most elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
    margin: 0;
    padding: 0;
}

/* Removes discs from ul */
ul {
    list-style: none;
}

input,
textarea,
select,
button {
    color: inherit; 
    font: inherit; 
    letter-spacing: inherit; 
}

input,
textarea,
button {
    border: 1px solid gray; 
}

button {
    border-radius: 0; 
    padding: 0.75em 1em;
    background-color: transparent;
}

button * {
    pointer-events: none;
}

/** Media Elements */
embed,
iframe,
img,
object,
video {
    display: block;
    max-width: 100%;
}

/** Tables */
table {
    table-layout: fixed;
    width: 100%;
}

.header,
.main-content,
.footer {
    border: 1px dotted blue;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.clear {
    clear: both;
}

.title,
.about-list,
.about-me,
.about-me-description {
    border: 2px dotted red;
    box-sizing: border-box;

}

.title,
.about-me,
.about-list {
    text-align: center;
}
.about-me-image {
    margin: 0 auto;
}