/* You can add global styles to this file, and also import other style files */
.header,
.main-content,
.footer {
    border: 1px dotted blue;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
}

.clear {
    clear: both;
}